html,
body {
  margin: 0;
  padding: 0;
}
body {
	
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #8ec07c;
  height: 90vh;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}

a{
	color: #8ec07c;

}
.buttons .btn{
  background-color: #8ec07c;
  color: #1d2021;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 25px;
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5), 0 7px 10px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
}


#literallyMe{
	width: 200px;
	border-radius: 50%;
}

